.v-modal.modal-callback {

}

.v-modal.modal-callback form {
    width: 100%;
}

.v-modal.modal-callback form .present__detailed {
    margin-top: 0;
}

.v-modal.modal-callback form .present__detailed .form-input,
.v-modal.modal-callback form .present__detailed .btn {
    width: 100%;
    max-width: 100%;
}

.v-modal.modal-callback form .personal-data {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-top: 17px;
    color: #7E868E;
}

.v-modal.modal-callback form .personal-data a {
    color: #7E868E;
    text-decoration: underline;
}